@font-face {
   font-family: 'Anton';
   font-style: regular;
   font-display: swap;
   font-weight: 400;
   src: url('file:///C:/Users/Ronit/OneDrive/Desktop/Index%20Cardinali/Master/ACM/hack-wpi-static/fonts/Anton/regular.ttf') format('truetype');
}
